@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0d0d1a;
  color: white;
  font-family: var(--font-nunito);
  touch-action: manipulation;
}

/* Prevent text selection on touch */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
